---
import Base from '../layouts/Base.astro';
import JournalNav from '../components/JournalNav.jsx';
---

<Base title="About" noIndex>
  <JournalNav slot="brand" current="about" client:load />
  <article class="about">
    <p>Intentionally blank.</p>
  </article>
</Base>
